<div class="row">
  <div class="col-md-10">
    <div class="card">
      <div class="card-header">
        <div class="float-left col-md-10">My Profile</div>
        <div class="float-right col-md-2"><a routerLink="#"><i class="fa fa-pencil"> Edit</i></a></div>
      </div>
      <div class="card-body">

      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card">
      <div class="card-header">Quick Nav</div>
      <div>
        <div class="essentialLinks"><a routerLink="#">Setings</a></div>
        <div class="essentialLinks"><a routerLink="#">Post a Recipe</a></div>
        <div class="essentialLinks"><a routerLink="#">Change Email</a></div>
        <div class="essentialLinks"><a routerLink="#">Change Password</a></div>
      </div>
    </div>
  </div>
</div>
